.form-item {
  margin: 0.25rem 0;
}

#welcome-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 1rem;
  background-color: white;
}

#welcome-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgba(127, 255, 212, 0.557);
}

#form-title {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

#guest-link {
  margin: 1rem 0;
}
